/* body {
    margin: 0;
    padding: 0;
    color: #fff;
    background-color: #000;
    font-size: 1.5rem;
    height: 100vh;
}
 */
/* main{
    height: 80vh;
} */

.bg-image-1 {
    background-image: url('https://www.kingdomrush.com/images/home/kr_bg_mobile.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.8;

}
.bg-image-2 {
    background-image: url('https://www.kingdomrush.com/images/home/krf_bg.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.8;
}
.bg-image-3 {
    background-image: url('https://www.kingdomrush.com/images/home/kro_bg.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.8;
}
.bg-image-4 {
    background-image: url('	https://www.kingdomrush.com/images/home/krv_bg.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.8;
}

.bg-image-1:hover, .bg-image-2:hover, .bg-image-3:hover, .bg-image-4:hover{
    opacity: 1;
}

#kr{
    margin-bottom: 1.4rem;
}
#krf{
    margin-bottom: 1.2rem;
}

.text-center {
    /* background-color: rgba(0, 0, 0, 0.291); */
    /* display: table-caption; */
    width: 120%;
    margin: 2rem 0rem;
}

.text-center img{
    width: 10rem;
}

.medium {
    font-size: 1.5rem;
}
.upper {
    text-transform: uppercase;
}
.han {
    font-family: "Black Han Sans", sans-serif;
    font-weight:bold;
}
.big {
    font-size: 2rem;
}
a {
    text-decoration: none;
    background-color: transparent;
    user-select: none;
    text-decoration: none;
    color:white !important;
    /* color: #fff; */
}
/* a:hover{
    background-color: white
} */
.candy-button {
    padding: 1rem;
    border-radius: 0.7em;
    background-image: linear-gradient(#E8551C 50%, 50%, #d14209);
    color: white;
    border: 3px solid #741D07;
    box-shadow: 0 3px 6px rgb(0 0 0 / 40%);
    width: 15rem;
    /* width: 12rem; */
    
}
.candy-button[b-cg1h8f00at] {
    /* width: 16rem; */
    padding: 0.6em 2rem 0.4em 2rem;
    transition: opacity 600ms ease-in-out 600ms, transform 200ms ease-out;
}

.candy-button:hover, .market-button:hover{
    transform: scale(1.1);
    opacity: 1;
}

main li a:hover{
    opacity: 1;
}


/* a.candy-button {
    display: inline-block;
    text-align: center;
} */
.candy-button, .market-button {
    transition: transform 200ms ease-out;
}
.text-center h3[b-cg1h8f00at]{
    margin-top: 4rem;
    text-shadow: 0 3px 6px rgb(0 0 0 / 40%);
    margin-bottom: 0.5rem;
    color: white;
    transition: opacity 600ms ease-in-out 700ms;
    overflow-wrap: break-word;
}

a:link {
    list-style: none;
    text-decoration: none;
    outline: none;
}
ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}
.market-button {
    width: 8.5rem;
}


.border-style{
    border-left: 1px solid greenyellow;
    border-right: 1px solid greenyellow;
    box-shadow: 4px 6px 10px rgba(53, 228, 0, 1);
}


/* medias */
@media only screen and (max-width: 992px){
    .text-center{
        margin: 1rem 0rem;
    }
    .text-center img{
        width: 5rem;
    }
    .candy-button{
        padding: 0.3rem;
        border-radius: 0.5em;
        border: 1px solid #741D07;
        box-shadow: 0 3px 6px rgb(0 0 0 / 40%);
        width: 8rem;
        -webkit-border-radius: 0.5em;
        -moz-border-radius: 0.5em;
        -ms-border-radius: 0.5em;
        -o-border-radius: 0.5em;
    }
    .big {
        font-size: 0.8rem;
    }

    .medium {
        font-size: 0.8rem;
    }

    .text-center h3{
        margin-top: 2rem;
        
    }

} 
