@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #000;
    overflow-x: hidden  ;
}


.content{
    position: relative;
    top: 4vmax;
    height: calc(100vh - 4vmax);
}

main{
    height: 100%;
}

footer{
    position: relative;
    height: 10vh;
}


@media (max-width: 992px) {
    .content{
        top: 70px;
        height: calc(100vh - 70px);
    }

    footer{
        height: auto;
    }

    main{
        height: auto;
    }
}