*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #000;
    overflow-x: hidden  ;
}

main{
    top: 4vmax;
    min-height: calc(90vh - 4vmax - 200px);
    /* height: calc(50vh - 4vmax) */
}

main{
    position: relative;
}

footer{
    height: 200px;
}


@media (max-width: 992px) {
    main, .container-main{
        top: 70px;
        min-height: calc(90vh - 70px -200px);
        /* height: calc(50vh - 4vmax) */
    }
}