*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background: #000;
    overflow-x: hidden  ;
}

main, .container-main{
    min-height: calc(100vh - 4vmax);
}


@media (max-width: 992px) {
    main, .container-main   {
        top: 70px;
        min-height: calc(100vh - 70px);
    }
}